<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crypto_analysis"
        tools:targetApi="31">
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".SplashActivity" android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".MarketIndicator.FGI_EN" />
        <activity android:name=".MarketIndicator.FGI_KR" />
        <activity android:name=".MarketIndicator.BullBear" />
        <activity android:name=".MarketIndicator.BVOL" />

        <activity android:name=".BlockchainInfo.chainSignal" />
        <activity android:name=".BlockchainInfo.blockchain" />
        <activity android:name=".BlockchainInfo.kimpga" />

        <activity android:name=".MarketFlow.cryptovolume" />
        <activity android:name=".MarketFlow.bitcoinhalving" />
        <activity android:name=".MarketFlow.fomc" />
        <activity android:name=".MarketFlow.interestrate" />

        <activity android:name=".news.cryptoworld" />
        <activity android:name=".news.coindesk" />
        <activity android:name=".news.coindeskKR" />

        <activity android:name=".diary" />
        <activity android:name=".calculator" />
    </application>

</manifest>